* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #a9a7a7;
}

.container {
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.slider {
    width: 70%;
    height: 70%;
    background-color: yellow;
    position: relative;
}

.side-slider {
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

.prev, .next {
    position: absolute;
    padding: 0.9375rem;
    background-color: rgba(169, 167, 167, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev:hover {
    background-color: rgba(169, 167, 167, 1);
}

.next:hover {
    background-color: rgba(169, 167, 167, 1);
}

.prev {
    top: 1.25rem;
}

.next {
    bottom: 1.25rem;
}

.side-counters {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translate(0, -50%);
    background-color: blueviolet;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0.625rem 0.3125rem; 
}

.counter {
    width: 15px;
    height: 15px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    background-color: transparent;
}

.item {
    height: 100%;
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.side-item {
    width: 100%;
    height: calc(100% / 5);
    opacity: 0.1;
    cursor: pointer;
}

.img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.show {
    opacity: 1;
}